.circle-container {
  width: 250px; /* Adjust the size as needed */
  height: 250px;
  left: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  border: 5px solid rgb(21, 142, 194);
  vertical-align: top;
}
  
.team-member {
  width: 33.33%;
  height: 450px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  position: relative;
}

.team-img {
  width: auto; /* Ensures the image takes the full container width */
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
}

.links {
  font-size: 24px;
  display: inline-block;
  width: 100%;
}

.timeline-right {
  width: 70%;
  left: 30%;
  height: fit-content;
  position: relative;
  display: inline-block;
  align-items: center;
}

.timeline-left {
  width: 70%;
  left: 0%;
  height: fit-content;
  position: relative;
  display: inline-block;
  align-items: center;
}

.timeline-img {
  max-width: 100%;
  width: auto; /* Ensures the image takes the full container width */
  height: 100%;
  display: block;
  top: 50%;
  left: 50%;
  margin-right: 10px;
}

.left-0 {
  left: 0%
}

.left-25 {
  left: 25%
}

.left-33 {
  left: 33%
}

.left-50 {
  left: 50%
}

.left-67 {
  right: 33%
}

.left-75 {
  right: 25%
}

.left-100 {
  right: 0%
}