.circle-container {
  width: 250px; /* Adjust the size as needed */
  height: 250px;
  left: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  border: 5px solid rgb(21, 142, 194);
}

  
.team-member {
  width: 33.33%;
  height: fit-content;
  display: inline-block;
  text-align: center;
  position: relative;
}

.team-img {
  width: auto; /* Ensures the image takes the full container width */
  height: 100%;
  top: 50%;
  left: 50%;
}

.timeline1 {
  width: 100%;
  right: 0%;
  height: fit-content;
  position: relative;
  align-items: center;
}

.timeline-img {
  width: auto; /* Ensures the image takes the full container width */
  height: 100%;
  top: 50%;
  left: 50%;
}

.left-0 {
  left: 0%
}

.left-25 {
  left: 25%
}

.left-33 {
  left: 33%
}

.left-50 {
  left: 50%
}

.left-67 {
  right: 33%
}

.left-75 {
  right: 25%
}

.left-100 {
  right: 0%
}