.circle-container {
  border-radius: 50%;
  overflow: hidden;
}
  
.team-member {
  width: 100%; /* Ensures the image takes the full container width */
  height: auto;
  display: block;
  text-align: center;
}
  