.circle-container {
  width: 100px; /* Adjust the size as needed */
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
  
.team-member {
  width: 33.33%;
  height: fit-content;
  display: block;
  display: flex;
  text-align: center;
  position: relative;
  display: inline-block;
}

.team-img {
  width: 100%; /* Ensures the image takes the full container width */
  height: auto;
}
  