.circle-container {
  width: 100px; /* Adjust the size as needed */
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
  
.team-member {
  width: 100%; /* Ensures the image takes the full container width */
  height: auto;
  display: block;
  text-align: center;
}
  