<head>
    <link rel="stylesheet" type="text/css" href="../assets/css/styles_feeling_responsive.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/popups.css">
</head>
<body>
    <div class="container">
        <!-- Project Details Go Here -->
        <!-- Create a new html file in projects folder, and copy all of this template to the new file. Locations needed to be replaced with be commentated -->
        <h2 class="text-uppercase">Insert Title</h2> <!-- Replace Insert Title -->
        <p class="text-authors">Insert Authors</p> <!-- Replace Insert Authors -->
        <img class="img-popup" src="../images/Insert Image File Name" alt="Insert Title"> <!-- Replace Insert Image File Name and Insert Title -->
        <p></p><h1 id="abstract">Abstract</h1> 

        <p class="abstract">Insert Abstract Here</p> <!-- Replace Insert Abstract Here -->

        <h1 id="available-data">Available data:</h1>
        <h3 id="manuscript"><a href="Insert Manuscript">Manuscript</a></h3> <!-- Replace Insert Manuscript -->
        <h3 id="computational-pipeline"><a href="Insert Pipeline Link">Computational pipeline</a></h3> <!--Replace Insert Pipeline Link-->
        <h3 id="apply-for-dataset-access"><a href="Insert Link">Apply for dataset access</a></h3> <!-- Replace Insert Link -->

        <ul class="list-inline">
            <br></br>
            <p>Date: Insert Date</p> <!-- Replace Insert Date -->
            <p>PI: Insert PI</p> <!-- Replace Insert PI -->
            <p>Category: Insert Category</p> <!-- Replace Insert Category-->
        </ul>

        <p></p>
        <button class="btn btn-primary" data-dismiss="modal" type="button", onclick="hidePopup()">
            <i class="icon-circle-with-cross">  </i>Close Project
        </button>
    </div>
</body>